*, ::before, ::after {
}

::before, ::after {
  --tw-content: '';
}

body {
  font-family: Helvetica, sans-serif;
  background-color: whitesmoke;
}

header{
  display: flex;
  background-color: darkseagreen;
}

h1{
  margin: 0.25em;
  flex: 1;
}

.navbar{
  margin: 1em;
  flex: 1;
  text-align: end;
}
a{
  padding: 0.5em;
  margin: 1em;
  color: black;
}
a:hover{
  background-color: olivedrab;
  border-radius: 5px;
}